{% extends template %}
{% load staticfiles i18n pipeline %} 

{% block title %}Antares Document{% endblock %}
{% block ng_app_name %}{% endblock ng_app_name %}
{% block bodyId %}Antares Document{% endblock %}
{% block javascript %} 
    {% if is_inner == 'false' %}
        {% javascript 'jquery_ui_js' %} 
    {% endif %}
{% endblock javascript %} 

{% block stylesheets %}
    {% if is_inner == 'false' %}
        {% stylesheet 'jquery_ui_css' %} 
    {% endif %}
{% endblock stylesheets %} 
 
{% block content %} <div class="container">
  <form id="documentEditorForm" method="POST">
    <div class="panel">
      <div class="row">
        <div class="col-lg-12">
          <span>Información General</span>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <span>ID de mensaje</span>
        </div>
        <div class="col-lg-3">
          <div>{{fields.messageId|default_if_none:''}}</div>
        </div>
        <div class="col-lg-3">
          <span>Fecha de Emisión</span>
        </div>
        <div class="col-lg-3">
          <div>{{fields.timestamp|default_if_none:''}}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <span>Mercado Local</span>
        </div>
        <div class="col-lg-3">
          <div>{{fields.localMarket|default_if_none:''}}</div>
        </div>
        <div class="col-lg-3">
          <span>Mercado Extranjero</span>
        </div>
        <div class="col-lg-3">
          <div>{{fields.foreignMarket|default_if_none:''}}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <span>Comprar</span>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-9">
          <span>Tasa de Cambio</span>
        </div>
        <div class="col-lg-3">
          <div>{{fields.buyExchangeRate|default_if_none:''}}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <span>Local</span>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-9">
          <span>Símbolo</span>
        </div>
        <div class="col-lg-3">
          <div>{{fields.buyLocalSymbol|default_if_none:''}}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-9">
          <span>Cantidad</span>
        </div>
        <div class="col-lg-3">
          <div>{{fields.buyLocalQuantity|default_if_none:''}}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-9">
          <span>Precio</span>
        </div>
        <div class="col-lg-3">
          <div>{{fields.buyLocalPrice|default_if_none:''}}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-9">
          <span>Precio</span>
        </div>
        <div class="col-lg-3">
          <div>{{fields.buyLocalAmount|default_if_none:''}}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <span>Extranjero</span>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-9">
          <span>Símbolo</span>
        </div>
        <div class="col-lg-3">
          <div>{{fields.buyForeignSymbol|default_if_none:''}}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-9">
          <span>Cantidad</span>
        </div>
        <div class="col-lg-3">
          <div>{{fields.buyForeignQuantity|default_if_none:''}}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-9">
          <span>Precio</span>
        </div>
        <div class="col-lg-3">
          <div>{{fields.buyForeignPrice|default_if_none:''}}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-9">
          <span>Monto</span>
        </div>
        <div class="col-lg-3">
          <div>{{fields.buyForeignAmount|default_if_none:''}}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <span>Vender</span>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-9">
          <span>Tasa de Cambio</span>
        </div>
        <div class="col-lg-3">
          <div>{{fields.sellExchangeRate|default_if_none:''}}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <span>Local</span>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-9">
          <span>Símbolo</span>
        </div>
        <div class="col-lg-3">
          <div>{{fields.sellLocalSymbol|default_if_none:''}}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-9">
          <span>Cantidad</span>
        </div>
        <div class="col-lg-3">
          <div>{{fields.sellLocalQuantity|default_if_none:''}}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-9">
          <span>Precio</span>
        </div>
        <div class="col-lg-3">
          <div>{{fields.sellLocalPrice|default_if_none:''}}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-9">
          <span>Precio</span>
        </div>
        <div class="col-lg-3">
          <div>{{fields.sellLocalAmount|default_if_none:''}}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <span>Extranjero</span>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-9">
          <span>Símbolo</span>
        </div>
        <div class="col-lg-3">
          <div>{{fields.sellForeignSymbol|default_if_none:''}}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-9">
          <span>Cantidad</span>
        </div>
        <div class="col-lg-3">
          <div>{{fields.sellForeignQuantity|default_if_none:''}}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-9">
          <span>Precio</span>
        </div>
        <div class="col-lg-3">
          <div>{{fields.sellForeignPrice|default_if_none:''}}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-9">
          <span>Precio</span>
        </div>
        <div class="col-lg-3">
          <div>{{fields.sellForeignAmount|default_if_none:''}}</div>
        </div>
      </div>
    </div>
  </form>
</div>{% endblock %}
        

