{% load static i18n  markdown_deux_tags %} 

    <div style="text-align:right; ">
        <a  class="btn btn-primary btn-sm" href="{% url "antares.apps.flow:inbox_view" %}">{% trans 'antares.apps.flow.templates.dashboard.forward.returnToInboxButton' %}</a>
    {% if validated_performer %}
        <a class="btn btn-primary btn-sm" onclick="openForwardWindow('{{activity_id}}');">{% trans 'antares.apps.flow.templates.dashboard.forward.forwardCaseButton' %}</a>
    {% endif %}
    </div>

    <div class="accordion" id="accordionExample">
        {% if activity_tools %}
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                {% trans 'antares.apps.flow.templates.dashboard.left.tools' %}
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                    {% if validated_performer %}
                    {% include 'workspace_view/_tools.html' %}
                    {% endif %}
            </div>
          </div>
        </div>
        {% endif %}
        {% if activity.activity_definition.description %}
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                {% trans 'antares.apps.flow.templates.dashboard.left.help' %}
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                {% markdown %}{{ activity.activity_definition.description }}{% endmarkdown %}
            </div>
          </div>
        </div>
        {% endif %}
        {% if validated_performer %}
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                {% trans 'antares.apps.flow.templates.dashboard.left.options' %}
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div>{% trans "antares.apps.flow.templates.dashboard.left.options.track_this_flow" %}
                    <input type="checkbox" id="flow_options_track_flow" data-toggle="toggle" {% if tracking_option == 'true' %} checked {% endif %}></input>
                </div>
          </div>
          {% endif %}
        </div>

      </div>
    </div>

      {% comment %}
<div class="panel-group" id="dashboardAccordion">
    {% if activity_tools %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#dashboardAccordion" href="#collapseToolbar">{% trans 'antares.apps.flow.templates.dashboard.left.tools' %}</a>
            </h4>
        </div>
        <div id="collapseToolbar" class="panel-collapse collapse in">
            <div class="panel-body">
                {% if validated_performer %}
                {% include 'workspace_view/_tools.html' %}
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
    {% if activity.activity_definition.description %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#dashboardAccordion" href="#collapseHelp">{% trans 'antares.apps.flow.templates.dashboard.left.help' %}</a>
                </h4>
            </div>
            <div id="collapseHelp" class="panel-collapse collapse">
                <div class="panel-body">
                    {% markdown %}{{ activity.activity_definition.description }}{% endmarkdown %}
                </div>
            </div>
        </div>
    {% endif %}
    {% if validated_performer %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#dashboardAccordion" href="#collapseOptions">{% trans 'antares.apps.flow.templates.dashboard.left.options' %}</a>
            </h4>
        </div>
        <div id="collapseOptions" class="panel-collapse collapse">
            <div class="panel-body">
                <div>{% trans "antares.apps.flow.templates.dashboard.left.options.track_this_flow" %}
                    <input type="checkbox" id="flow_options_track_flow" data-toggle="toggle" {% if tracking_option == 'true' %} checked {% endif %}></input>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
 {% endcomment %}

{% if validated_performer %}
<div id="forwardDialog" style="display:none; ">
    <div id="forwardDialogInner">
        <div id="msgValidationError">
        
        </div>
        <div id="msgPathNotFound">
            {% trans 'antares.apps.flow.templates.dashboard.forward.noPathFound' %} 
        </div>
        <div id="msgPathFound">
            {% trans 'antares.apps.flow.templates.dashboard.forward.pathsWereFound' %} 
            <table id="fowardActivitiesTable" width="100%" class="table table-striped table-bordered">
            </table>
        </div>
            
        </div>
    </div>
{% endif %}