alabaster==0.7.12
-e git+git@github.com:SurferTank/antares-apps.git@cc246b7e652bd6beeb9e220583bbdb6dde14ba3f#egg=antares_apps
appdirs==1.4.3
appnope==0.1.0
asgiref==3.2.3
astroid==2.3.3
attrs==19.3.0
autopep8==1.4.4
Babel==2.7.0
backcall==0.1.0
backports.shutil-get-terminal-size==1.0.0
cachetools==4.0.0
certifi==2019.11.28
chardet==3.0.4
coverage==5.0
decorator==4.4.1
defusedxml==0.6.0
dj-database-url==0.5.0
Django==3.1.1
django-allauth==0.41.0
django-angular==2.2.4
django-bower==5.2.0
django-braces==1.14.0
django-ckeditor==5.8.0
django-datatables-view==1.19.1
django-debug-toolbar==2.1
django-enumfields==1.0.0
django-extensions==2.2.5
django-fastcgi==0.0.1
django-filter==2.2.0
django-js-asset==1.2.2
django-libs==2.0.2
django-markdown==0.8.4
django-markdown-app==0.9.6
django-markdown-deux==1.0.5
django-money==1.0
django-mptt==0.10.0
django-pipeline==1.6.14
django-recaptcha==2.0.5
djangorestframework==3.11.0
docutils==0.15.2
enum34==1.1.6
filelock==3.0.12
futures==3.1.1
google-api-python-client==1.7.11
google-auth==1.10.0
google-auth-httplib2==0.0.3
googlemaps==4.0.0
gunicorn==20.0.4
httplib2==0.18.1
idna==2.8
imagesize==1.1.0
importlib-metadata==1.3.0
ipython==7.10.2
ipython-genutils==0.2.0
isort==4.3.21
jedi==0.15.2
Jinja2==2.10.3
Js2Py==0.66
lazy-object-proxy==1.4.3
linecache2==1.0.0
lxml==4.4.2
Markdown==3.1.1
markdown2==2.3.9
MarkupSafe==1.1.1
mccabe==0.6.1
more-itertools==8.0.2
mypy-lang==0.5.0
oauth2client==4.1.3
oauthlib==3.1.0
packaging==19.2
parso==0.5.2
pep8==1.7.1
pexpect==4.7.0
pickleshare==0.7.5
pipupgrade==1.5.2
pluggy==0.13.1
ply==3.11
prompt-toolkit==3.0.2
psycopg2-binary==2.8.4
ptyprocess==0.6.0
py==1.8.0
py-moneyed==0.8.0
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycodestyle==2.5.0
Pygments==2.5.2
pyjsparser==2.7.1
pylint==2.4.4
pyparsing==2.4.5
python-dateutil==2.8.1
python-slugify==4.0.0
python3-openid==3.1.0
pytz==2019.3
requests==2.22.0
requests-oauthlib==1.3.0
rsa==4.0
simplegeneric==0.8.1
simplejson==3.17.0
six==1.13.0
slimit==0.8.1
snowballstemmer==2.0.0
Sphinx==2.3.0
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
sqlparse==0.3.0
text-unidecode==1.3
toml==0.10.0
tox==3.14.2
traceback2==1.4.0
traitlets==4.3.3
typed-ast==1.4.0
typing==3.7.4.1
tzlocal==2.0.0
Unidecode==1.1.1
unittest2==1.1.0
uritemplate==3.0.1
urllib3==1.25.7
virtualenv==16.7.9
wcwidth==0.1.7
whitenoise==5.0.1
wrapt==1.11.2
yahoo-finance==1.4.0
yapf==0.29.0
zipp==0.6.0
qrcode==6.1
