alabaster==0.7.12
-e git+git@github.com:SurferTank/antares-apps.git@ae50e5db804de6c08e70a6ab9f7f3c3268c552af#egg=antares_apps
appdirs==1.4.3
appnope==0.1.0
astroid==2.2.5
autopep8==1.4.4
Babel==2.7.0
backcall==0.1.0
backports.shutil-get-terminal-size==1.0.0
cachetools==3.1.1
certifi==2019.6.16
chardet==3.0.4
coverage==4.5.3
decorator==4.4.0
defusedxml==0.6.0
dj-database-url==0.5.0
Django==2.2.2
django-allauth==0.39.1
django-angular==2.2
django-bower==5.2.0
django-braces==1.13.0
django-ckeditor==5.7.1
django-datatables-view==1.18.0
django-debug-toolbar==2.0
django-enumfields==1.0.0
django-extensions==2.1.9
django-fastcgi==0.0.1
django-filter==2.1.0
django-js-asset==1.2.2
django-libs==2.0.2
django-markdown==0.8.4
django-markdown-app==0.9.6
django-markdown-deux==1.0.5
django-money==0.15
django-mptt==0.10.0
django-pipeline==1.6.14
djangorestframework==3.9.4
docutils==0.14
enum34==1.1.6
filelock==3.0.12
futures==3.1.1
google-api-python-client==1.7.9
google-auth==1.6.3
google-auth-httplib2==0.0.3
googlemaps==3.0.2
gunicorn==19.9.0
httplib2==0.13.0
idna==2.8
imagesize==1.1.0
importlib-metadata==0.18
ipython==7.6.0
ipython-genutils==0.2.0
isort==4.3.21
jedi==0.14.0
Jinja2==2.10.1
Js2Py==0.66
lazy-object-proxy==1.4.1
linecache2==1.0.0
lxml==4.3.4
Markdown==3.1.1
markdown2==2.3.8
MarkupSafe==1.1.1
mccabe==0.6.1
mypy-lang==0.5.0
oauth2client==4.1.3
oauthlib==3.0.1
packaging==19.0
parso==0.5.0
pep8==1.7.1
pexpect==4.7.0
pickleshare==0.7.5
pipupgrade==1.5.1
pluggy==0.12.0
ply==3.11
prompt-toolkit==2.0.9
psycopg2-binary==2.8.3
ptyprocess==0.6.0
py==1.8.0
py-moneyed==0.8.0
pyasn1==0.4.5
pyasn1-modules==0.2.5
pycodestyle==2.5.0
Pygments==2.4.2
pyjsparser==2.7.1
pylint==2.3.1
pyparsing==2.4.0
python-dateutil==2.8.0
python-slugify==3.0.2
python3-openid==3.1.0
pytz==2019.1
requests==2.22.0
requests-oauthlib==1.2.0
rsa==4.0
simplegeneric==0.8.1
simplejson==3.16.0
six==1.12.0
slimit==0.8.1
snowballstemmer==1.9.0
Sphinx==2.1.2
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
sqlparse==0.3.0
text-unidecode==1.2
toml==0.10.0
tox==3.13.1
traceback2==1.4.0
traitlets==4.3.2
typed-ast==1.4.0
typing==3.7.4
tzlocal==1.5.1
Unidecode==1.1.1
unittest2==1.1.0
uritemplate==3.0.0
urllib3==1.25.3
virtualenv==16.6.1
wcwidth==0.1.7
whitenoise==4.1.2
wrapt==1.11.2
yahoo-finance==1.4.0
yapf==0.27.0
zipp==0.5.1
