aiohttp==3.8.1
aiosignal==1.2.0
alabaster==0.7.12
appdirs==1.4.4
appnope==0.1.2
asgiref==3.5.0
astroid==2.11.2
asttokens==2.0.5
async-timeout==4.0.2
attrs==21.4.0
autopep8==1.6.0
Babel==2.9.1
backcall==0.2.0
backports.shutil-get-terminal-size==1.0.0
bleach==4.1.0
bpyutils==0.4.0
cachetools==5.0.0
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.12
colorama==0.4.4
commonmark==0.9.1
coverage==6.3.2
cryptography==36.0.2
cssselect2==0.5.0
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.4
distlib==0.3.4
dj-database-url==0.5.0
Django>=4.0.3
django-allauth==0.50.0
django-angular==2.3
django-bower==5.2.0
django-braces==1.15.0
django-ckeditor==6.2.0
django-datatables-view==1.19.1
django-debug-toolbar==3.2.4
django-enumfields==2.1.1
django-extensions==3.1.5
django-fastcgi==0.0.1
django-filter==21.1
django-js-asset==2.0.0
django-libs==2.0.3
django-markdown-deux==1.0.5
django-money==2.1.1
django-mptt==0.13.4
django-nose==1.4.7
django-pipeline==2.0.8
django-recaptcha==3.0.0
djangorestframework==3.13.1
docutils==0.17.1
easy-thumbnails==2.8.1
executing==0.8.3
filelock==3.6.0
frozenlist==1.3.0
futures==3.1.1
google-api-core==2.7.1
google-api-python-client==2.42.0
google-auth==2.6.2
google-auth-httplib2==0.1.0
googleapis-common-protos==1.56.0
googlemaps==4.6.0
gunicorn==20.1.0
httplib2==0.20.4
idna==3.3
imagesize==1.3.0
importlib-metadata==4.11.3
ipython==8.2.0
ipython-genutils==0.2.0
isort==5.10.1
jedi==0.18.1
Jinja2==3.1.1
Js2Py==0.71
keyring==23.5.0
lazy-object-proxy==1.7.1
linecache2==1.0.0
lxml==4.8.0
Markdown==3.3.6
markdown2==2.4.2
MarkupSafe==2.1.1
matplotlib-inline==0.1.3
mccabe==0.7.0
more-itertools==8.12.0
multidict==6.0.2
mypy-lang==0.5.0
nose==1.3.7
oauth2client==4.1.3
oauthlib==3.2.0
packaging==21.3
parso==0.8.3
pep8==1.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.1.0
pipupgrade==1.12.0
pkginfo==1.8.2
platformdirs==2.5.1
pluggy==1.0.0
ply==3.11
prompt-toolkit==3.0.28
protobuf==3.20.0
psycopg2-binary==2.9.3
ptyprocess==0.7.0
pure-eval==0.2.2
purepng==0.2.0
py==1.11.0
py-moneyed==1.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.8.0
pycparser==2.21
pydevd==2.8.0
Pygments==2.11.2
pyjsparser==2.7.1
PyJWT==2.3.0
pylint==2.13.4
pyparsing==3.0.7
python-dateutil==2.8.2
python-dotenv==0.20.0
python-slugify==6.1.1
python3-openid==3.2.0
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
qrcode==7.3.1
readme-renderer==34.0
recommonmark==0.7.1
reportlab==3.6.9
requests==2.27.1
requests-oauthlib==1.3.1
requests-toolbelt==0.9.1
rfc3986==2.0.0
rich==12.0.1
rinoh-typeface-dejavuserif==0.1.3
rinoh-typeface-texgyrecursor==0.1.1
rinoh-typeface-texgyreheros==0.1.1
rinoh-typeface-texgyrepagella==0.1.1
rinohtype==0.5.3
rsa==4.8
simplegeneric==0.8.1
simplejson==3.17.6
six==1.16.0
slimit==0.8.1
snowballstemmer==2.2.0
Sphinx==4.5.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sqlparse==0.4.2
stack-data==0.2.0
svglib==1.2.1
text-unidecode==1.3
tinycss2==1.1.1
toml==0.10.2
tomli==2.0.1
tox==3.24.5
tqdm==4.63.1
traceback2==1.4.0
traitlets==5.1.1
twine==4.0.0
typed-ast==1.5.2
typing_extensions==4.1.1
tzdata==2022.1
tzlocal==4.2
Unidecode==1.3.4
unittest2==1.1.0
uritemplate==4.1.1
urllib3==1.26.9
virtualenv==20.14.0
wcwidth==0.2.5
webencodings==0.5.1
whitenoise==6.0.0
wrapt==1.14.0
yahoo-finance==1.4.0
yapf==0.32.0
yarl==1.7.2
zipp==3.7.0
