{% extends "base_layout.html" %} 
{% load i18n account %}

{% block head_title %}{% trans "antares.user.web.signup" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
    <div class="col-lg-12">
  <h1>{% trans 'antares.apps.user.login.template.signup' %}</h1>
  </div>
      <p>{% trans "antares.user.web.already_have_an_account" %} <a href="{{ login_url }}">{% trans "antares.user.web.login_here" %}</a>.</p>
  </div>
	<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  		{% csrf_token %}
  		{# {{ form.as_p }} #}
  		{% for field in form %}
      		{% include "django_libs/partials/form_field.html" %}
    		{% endfor %}
  		{% if redirect_field_value %}
  			<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  		{% endif %}
  		<button type="submit">{% trans  'antares.apps.user.login.template.signup' %} &raquo;</button>
	</form>
  	</div>
  </div>



{% endblock %}
